@font-face {
  font-family: 'text-security-disc';
  src: url('@/assets/fonts/security/text-security-disc.eot');
  src: url('@/assets/fonts/security/text-security-disc.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/security/text-security-disc.woff2') format('woff2'),
    url('@/assets/fonts/security/text-security-disc.woff') format('woff'),
    url('@/assets/fonts/security/text-security-disc.ttf') format('truetype'),
    url('@/assets/fonts/security/text-security-disc.svg#text-security') format('svg');
}
